{%load static%}
<!DOCTYPE HTML>
<html>
	<head>
		<title>About</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="{%static "assets/css/main.css" %}" />
	</head>
	<body class="no-sidebar">
          		<nav class="content_menu">         						
          			<!-- <img id="logo1" src="{%static "images/logo.png" alt="Tathyanka Bishleshan" width="140"	height="140" %}">
 -->
        	        <ul class="bmenu">
	                    <li><a href="about.html" class="selected">About</a></li>
	                    <li><a href="/home">Home</a></li>
	                    <li><a href="#">Contact</a></li>
	    	        </ul>
	            </nav>

	</body>
</html>